// out: ../css/main.css

@import 'variables';
@import 'mixins';

* {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: @primary-font;
}

nav {
    height: 80px;  
}

.btn {
    background-color:@yellow;
    border-color: @yellow;
    color: @dark-grey;
}

#index {

    header.jumbo {
        padding: 50px 0;
        background-image: url("/Users/Pimlada/Desktop/m3-hw3-kongkhsm-pimlada/img/banner-bg.png");
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;

        h1 {
            padding: 0 10px;
            .border-right();
            .border-left();
        }

       
    }
   
  
    
    }

    button {
        background-color:@yellow;
        border-color: @yellow;
        color: @dark-grey;

    }


.bg-primary {
    background-color: white;
}
 footer {
     text-align: center;
     background-color: @dark-grey;
 }

section.d-flex.text-black {
    padding: 3% 9% 3% 9%;
}

#grey {
    background-color: #f3f3f3;
  
  }

  .p-2 {
    padding-left: 10%;
  }

  .red {
    color:@red;
    background: none;
  }
