// out: ../css/main.css

@import 'variables';
@import 'mixins';

* {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: @primary-font;
}

nav {
    height: 80px;  
    background-color: @yellow;
}

header.container-fluid.jumbo.text-center {
    box-shadow: rgb(59 56 56 / 40%) 0 0 0 1000000px inset;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2% 0% 3% 8%;
    font-weight: bold;
  }
  
  li {
    display: inline;
    padding: 2%;
  }

.btn {
    background-color:@yellow;
    color: @dark-grey;
}

#index {

        header.jumbo {
            background-image: url("../img/banner-bg.png");
            background-size: 100%;
            background-repeat: no-repeat;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 450px;
       }

        h1 {
            padding: 0 10px;
            // .border-right();
            // .border-left();
        }     
   

            .bread{
                padding-top: 23%;
            }

            p.content1 {
                padding-right: 5%;
            }

            .content2.p-2.w-100 {
                margin-left: 6%;
            }

            button {
                background-color:@yellow;
                color: @dark-grey;
                .button();
            }
    }


.bg-primary {
    background-color: white;
}

 footer {
     text-align: center;
     background-color: @dark-grey;
     height: 120px; 
     border-block-start:@yellow solid 8px;
 }

 footer img {
    .img();
     
 }

section.d-flex.text-black {
    padding: 3% 9% 3% 9%;
}

#grey {
    background-color: @light-grey;
  
  }

  .red {
    color:@red;
    background: none;
  }
